/microservices/vehicle-service/target/
/microservices/invoice-service/target/
/microservices/user-service/target/
microservices/.idea/runConfigurations.xml
microservices/.idea/misc.xml
microservices/.idea/misc.xml
microservices/.idea/runConfigurations.xml
microservices/.idea*
